/* CSS cho thanh điều hướng */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
  }
  
  .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader>div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(45, 45, 216);
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }
  
  .loader img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
  
  .navbar {
    font-weight: 1000;
    background: linear-gradient(to right, #4F8EF7, #3A5FCD);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  
  .logo a {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  
  .navbar-items {
    display: flex;
    align-items: center;
  }
  
  .navbar-items a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-items button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navbar-items a.join,
  .navbar-items a.login {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none; /* Đảm bảo không có gạch chân dưới liên kết */
    font-weight: 1000;
    margin-right: 10px;
  }
  
  .navbar-items a.join:hover,
  .navbar-items a.login:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  /* CSS cho menu di động */
  .menu-icon {
    display: none;
    /* Ẩn nút menu trên các kích thước lớn hơn */
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  /* Sử dụng media queries để xác định phản hồi của thanh điều hướng */
  @media screen and (max-width: 768px) {
    .navbar-items {
      display: none;
      /* Ẩn menu trên các kích thước nhỏ hơn */
      margin-top: 60px;
      text-align: center;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      text-align: center;
      z-index: 1;
    }
  
    .navbar-items.active {
      display: flex;
    }
  
    .menu-icon {
      display: flex;
    }
  }

  .blog {
    margin-top: 200px;
    text-align: center;
  }

  .news-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  .news-container img {
    width: 710px;
    height: 427px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  section {
    float: left;
    width: 60%;
  }
  
  article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  aside {
    float: right;
    width: 30%;
  }
  
  .footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 0px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .logo h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .social-media a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  
  footer p {
    margin: 0;
    text-align: center;
  }
  
  
  .social-media a:hover {
    opacity: 0.7;
  }


  
  * {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
  }
  
  .post_container {
    width: 700px;
    min-height: 200px;
    /* border: 2px solid black; */
    margin: 20px auto;
  }
  
  .post_container input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .post_container textarea {
    width: 100%;
    padding: 15px;
  }
  
  .post_container #post_comment {
    width: 100%;
    padding: 10px;
  }
  
  .list_post_comment {
    width: 100%;
    min-height: 200px;
    border: 2px solid red;
    padding: 20px;
  }
  
  /* Xử lý từng khối item */
  .item_comment {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .img_container {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  
  .img_container img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .content_container {
    width: 75%;
  }
  
  .content_info_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .content_info_container .name {
    color: blue;
    margin-right: 30px;
  }